<!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
    
      <footer class="inner">
        <a Published with <a href="http://pages.github.com">GitHub Pages</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp
        <a href="mailto:beate.bergter@htw-berlin.de">beate.bergter@htw-berlin.de</a>  &nbsp &nbsp &nbsp 
        <a href="https://github.com/bbergter">github.com/bbergter</a>

<br>
<br>
<br>
    <table height="10" border="1" cellpadding="1" cellspacing="2"
      width="500">
      <tbody>
        <tr>
           <td bgcolor="#33ff33" valign="top">&nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
           +++ mis à jour le 5 Aug 2016 +++<br>
          </td>
        </tr>
      </tbody>
    </table>



      </footer>
    </div>
